# Relacionar datasets de decisões e lista do TRE
Versão 4

## Introdução
* Importa o arquivo tce_acordaos_e_pareceres.csv, criado com o script importa_processos_etce.py em 27/08/2020 às 22h30.
* Importa o arquivo lista-tre-com-protocolo.csv, criado com o script processa_planilha_lista_tre.py, que importou a planilha LISTA-TRE-ELEICOES-2020-ATUALIZADA-EM-26-08-2020.xlsx.
* Ao final é gerada uma planilha com insistências para a Secretaria das Sessões analisar

## Importação das bibliotecas

In [1]:
import pandas as pd
import numpy as np

from pathlib import Path

## Criar dataset de todas as decisões (acórdãos e pareceres)

In [2]:
caminho_dados = Path("../../data/raw/")
df_decisoes = pd.read_csv(caminho_dados/"tce_acordaos_e_pareceres.csv", sep=";")

In [3]:
df_decisoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18597 entries, 0 to 18596
Data columns (total 18 columns):
cod_tce           18597 non-null object
assunto           16749 non-null object
tipo_processo     18597 non-null object
cod_ato           18597 non-null int64
ato               18597 non-null object
tipo_ato          18597 non-null object
peca              18597 non-null int64
caminho           18597 non-null object
conselheiro       15392 non-null object
municipio         15468 non-null object
ug                15468 non-null object
procurador        15319 non-null object
ano_exercicio     15434 non-null float64
texto             18555 non-null object
linhas            18594 non-null object
decisao_tipo      18544 non-null object
decisao_numero    18544 non-null object
decisao_ano       18544 non-null float64
dtypes: float64(2), int64(2), object(14)
memory usage: 2.6+ MB

In [4]:
df_decisoes.head()

,cod_tce,assunto,tipo_processo,cod_ato,ato,tipo_ato,peca,caminho,conselheiro,municipio,ug,procurador,ano_exercicio,texto,linhas,decisao_tipo,decisao_numero,decisao_ano
0,000132/2017,DENÚNCIA REF. IRREGULARIDADES NA ADMINISTRAÇÃO...,CONTROLE SOCIAL - DENÚNCIA,1284960,ACOCAM - G.LNM - 684/2017,ACÓRDÃO DE CÂMARA,23,/2017/06/688336/133/2/805temp/ACOCAM.pdf,NaN,NaN,NaN,NaN,NaN,ACORDÃO Nº 1647/2017\n\n\nPROCESSO TC Nº 00013...,"[{'page': 1, 'x0': 245, 'x1': 380, 'bottom': 1...",acordao,1647,2017.0
1,000189/2014,Aposentadoria,INATIVAÇÃO - APOSENTADORIA,262333,ACOCAM - GLUCIANO - 65/2014,ACÓRDÃO DE CÂMARA,10,/2014/07/623635/12/2/587temp/ACOCAM.pdf,NaN,NaN,NaN,NaN,NaN,ACÓRDÃO N.º 788/2014\n\nProcesso TC/000189/201...,"[{'page': 1, 'x0': 70, 'x1': 316, 'bottom': 13...",acordao,788,2014.0
2,000135/2020,RECURSO DE RECONSIDERAÇÃO REF. AO TC/005130/2015,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,2462530,ACOCAM - G.WA - 690/2020,ACÓRDÃO DE CÂMARA,15,/2020/03//770683/8/2/17032020_095623_46033325D...,NaN,NaN,NaN,NaN,NaN,ACÓRDÃO Nº 317/2020\nPROCESSO: TC/000135/2020\...,"[{'page': 1, 'x0': 245, 'x1': 377, 'bottom': 1...",acordao,317,2020.0
3,000271/2017,AUDITORIA CONCOMITANTE - EXERCICIO DE 2016,FISCALIZAÇÃO - AUDITORIA,1389052,ACOPLE - G.LNM - 281/2017,ACÓRDÃO DO PLENO,35,/2017/09/688475/133/3/604temp/ACOPLE.pdf,NaN,NaN,NaN,NaN,NaN,ACORDÃO Nº 2.504/17\n\nPROCESSO TC Nº 000271/2...,"[{'page': 1, 'x0': 250, 'x1': 376, 'bottom': 1...",acordao,2504,2017.0
4,000244/2017,"DENÚNCIA REF. IRREGULARIDADES NA FUESPI, EXERC...",CONTROLE SOCIAL - DENÚNCIA,1255656,ACOCAM - G.LNM - 650/2017,ACÓRDÃO DE CÂMARA,20,/2017/05/688448/133/2/117temp/ACOCAM.pdf,NaN,NaN,NaN,NaN,NaN,ACORDÃO Nº 1.269/2017\n\n\nPROCESSO TC Nº 0002...,"[{'page': 1, 'x0': 244, 'x1': 382, 'bottom': 1...",acordao,1269,2017.0

## Criar dataset de lista do TRE

In [5]:
df_tre = pd.read_csv(caminho_dados/"lista-tre-com-protocolo.csv", sep=";")

In [6]:
df_tre.head()

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,DATA_DO_TRANSITO_EM_JULGADO,DATA_DA_INCLUSAO_NA_LISTA,COD_TCE,DECISAO_NUMERO,DECISAO_ANO
0,2011.0,546/11,2011-05-19 00:00:00,TC-E 40.660/09,ALAGOINHA DO PIAUÍ,CÂMARA MUNICIPAL,2008,ABELARDO ANTÔNIO DE SÁ,NaN,IRREGULARIDADE,NaN,NaN,040660/2009,546,2011.0
1,2011.0,1434/11,2011-12-01 00:00:00,TC-E 15.100/10,LAGOA DO SÍTIO,CÂMARA MUNICIPAL,2009,ABIMAR SOARES LIMA VERDE,NaN,IRREGULARIDADE,NaN,NaN,015100/2010,1434,2011.0
2,2011.0,47/11,2011-01-13 00:00:00,TC-E 22.557/09,RIBEIRA DO PIAUÍ,FMS,2008,ADÃO LIRA LEAL,NaN,IRREGULARIDADE,NaN,NaN,022557/2009,47,2011.0
3,2011.0,1458/11,2011-12-07 00:00:00,TC-E 16.248/10,RIBEIRA DO PIAUÍ,FMS,2009,ADÃO LIRA LEAL,NaN,IRREGULARIDADE,NaN,NaN,016248/2010,1458,2011.0
4,2011.0,733/10,2011-06-16 00:00:00,TC-E 12.462/08,COCAL,CÂMARA MUNICIPAL,2007,ADERSON NOGUEIRA RAMOS,NaN,IRREGULARIDADE,NaN,NaN,012462/2008,733,2010.0

In [7]:
df_tre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 15 columns):
ANO_DO_JULGAMENTO              2333 non-null float64
DECISAO                        2333 non-null object
DATA_DO_JULGAMENTO             2333 non-null object
PROCESSO                       2333 non-null object
MUNICIPIO_ENTE                 2326 non-null object
ORGAO                          2331 non-null object
EXERCICIO                      2333 non-null object
GESTOR                         2333 non-null object
CPF                            1662 non-null object
RESULTADO                      2333 non-null object
DATA_DO_TRANSITO_EM_JULGADO    135 non-null object
DATA_DA_INCLUSAO_NA_LISTA      135 non-null object
COD_TCE                        2332 non-null object
DECISAO_NUMERO                 2330 non-null object
DECISAO_ANO                    2330 non-null float64
dtypes: float64(2), object(13)
memory usage: 273.5+ KB

In [8]:
# Quantidade única de códigos de protocolo
len(df_tre['COD_TCE'].unique())

865

In [9]:
# Processos que possuem mais de uma peça com decisão
processos_qtde = df_tre['COD_TCE'].value_counts()
processos_qtde[processos_qtde > 1]

016269/2010    15
018349/2012    12
022907/2011    12
053499/2009    11
007747/2013    11
               ..
040586/2011     2
019192/2010     2
052824/2012     2
042976/2011     2
053300/2012     2
Name: COD_TCE, Length: 508, dtype: int64

### Analisar e corrigir dados de decisão e resultado

In [10]:
# Tipos de resultados e quantidade
df_tre['RESULTADO'].value_counts()

IRREGULARIDADE               1702
REPROVAÇÃO                    391
Irregularidade                153
Irregular                      46
Reprovação                     33
REPROVAÇÃO                      2
PELA REPROVAÇÃO                 2
 IRREGULARIDADE                 1
IRREAGULARIDADE                 1
RECOMENDANDO A REPROVAÇÃO       1
IRREGUARIDADE                   1
Name: RESULTADO, dtype: int64

In [11]:
# Remover espaços adicionais colocar em caixa alta
df_tre['RESULTADO'] = df_tre['RESULTADO'].apply(lambda x: x.strip().upper())

In [12]:
# Corrigir e unificar reultado IRREGULARIDADE
df_tre.loc[df_tre['RESULTADO'].isin(['IRREGUARIDADE', 'IRREAGULARIDADE', 'IRREGULAR']), ['RESULTADO']] = 'IRREGULARIDADE'

In [13]:
# Corrigir e unificar reultado REPROVAÇÃO
df_tre.loc[df_tre['RESULTADO'].isin(['PELA REPROVAÇÃO', 'RECOMENDANDO A REPROVAÇÃO']), ['RESULTADO']] = 'REPROVAÇÃO'
#df_tre.loc[df_tre['RESULTADO'] == 'RECOMENDANDO A REPROVAÇÃO', ['RESULTADO']] = 'REPROVAÇÃO'

In [14]:
df_tre['RESULTADO'].value_counts()

IRREGULARIDADE    1904
REPROVAÇÃO         429
Name: RESULTADO, dtype: int64

In [15]:
df_tre['DECISAO_NUMERO'].describe()

count     2330
unique    1387
top       1236
freq        13
Name: DECISAO_NUMERO, dtype: object

In [16]:
# Registros para os quais não foi possível extrair o ano da decisão
df_tre[df_tre['DECISAO_ANO'].isna()]

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,DATA_DO_TRANSITO_EM_JULGADO,DATA_DA_INCLUSAO_NA_LISTA,COD_TCE,DECISAO_NUMERO,DECISAO_ANO
861,2013.0,1428,2013-06-26 00:00:00,TC-E 014.408/11,SEBASTIÃO BARROS,SECRETARIA MUNICIPAL DE EDUCAÇÃO,2010,HÉRIKA DANIELLA DE CARVALHO E GUEDES,991.971.703-72,IRREGULARIDADE,NaN,NaN,014408/2011,NaN,NaN
1073,2014.0,PARECER 90114,2014-09-02 00:00:00,TCE 16228/2012,OLHO D`AGUA DO PIAUI,PREFEITURA,2011,ANTONIO LEAL DA SILVA,184.737.253-87,REPROVAÇÃO,NaN,NaN,016228/2012,NaN,NaN
1242,2015.0,206-A,2015-10-28 00:00:00,TC/52818/2012,BATALHA,PREFEITURA MUNICIPAL - GOVERNO,2012,AMARO JOSÉ DE FREITAS MELO,111.992.455-34,REPROVAÇÃO,NaN,NaN,052818/2012,NaN,NaN

In [17]:
df_tre['DECISAO_ANO'].value_counts()

2011.0    391
2013.0    337
2015.0    313
2012.0    312
2016.0    296
2017.0    252
2014.0    181
2019.0    127
2018.0     87
2020.0     19
2010.0     14
415.0       1
Name: DECISAO_ANO, dtype: int64

In [18]:
# Verificar a decisão de um desses itens da lista sem ano de decisão
df_decisoes[df_decisoes['cod_tce'] == '052818/2012']

Empty DataFrame
Columns: [cod_tce, assunto, tipo_processo, cod_ato, ato, tipo_ato, peca, caminho, conselheiro, municipio, ug, procurador, ano_exercicio, texto, linhas, decisao_tipo, decisao_numero, decisao_ano]
Index: []

In [19]:
# Tamanhos do conteúdo do campo número da decisão
df_tre[df_tre['DECISAO_NUMERO'].notna()]['DECISAO_NUMERO'].apply(len).value_counts()

4    1047
3    1031
2     213
1      19
6      15
5       5
Name: DECISAO_NUMERO, dtype: int64

In [20]:
df_tre.head(2)

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,DATA_DO_TRANSITO_EM_JULGADO,DATA_DA_INCLUSAO_NA_LISTA,COD_TCE,DECISAO_NUMERO,DECISAO_ANO
0,2011.0,546/11,2011-05-19 00:00:00,TC-E 40.660/09,ALAGOINHA DO PIAUÍ,CÂMARA MUNICIPAL,2008,ABELARDO ANTÔNIO DE SÁ,NaN,IRREGULARIDADE,NaN,NaN,040660/2009,546,2011.0
1,2011.0,1434/11,2011-12-01 00:00:00,TC-E 15.100/10,LAGOA DO SÍTIO,CÂMARA MUNICIPAL,2009,ABIMAR SOARES LIMA VERDE,NaN,IRREGULARIDADE,NaN,NaN,015100/2010,1434,2011.0

## Juntar os datasets de decisões e lista do TRE

In [21]:
df_merge = df_tre.merge(df_decisoes, \
                    left_on=['COD_TCE', 'DECISAO_NUMERO', 'DECISAO_ANO'], \
                    right_on=['cod_tce', 'decisao_numero', 'decisao_ano'])

In [22]:
df_merge.head()

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,...,conselheiro,municipio,ug,procurador,ano_exercicio,texto,linhas,decisao_tipo,decisao_numero,decisao_ano
0,2014.0,100/2014,2014-09-17 00:00:00,TC/013381/2013,VÁRZEA GRANDE,PREFEITURA - GOVERNO,2011,LUÍS NUNES RIBEIRO FILHO,085.986.338-79,REPROVAÇÃO,...,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,Várzea Grande,P. M. DE VARZEA GRANDE,MÁRCIO ANDRÉ MADEIRA DE VASCONCELOS,2011.0,PARECER PRÉVIO N°. 100/2014\n\n\nPROCESSO TC N...,"[{'page': 1, 'x0': 206, 'x1': 421, 'bottom': 1...",parecer,100,2014.0
1,2014.0,1164/2014,2014-09-17 00:00:00,TC/013381/2013,VÁRZEA GRANDE,PREFEITURA GESTÃO,2011,LUÍS NUNES RIBEIRO FILHO,085.986.338-79,IRREGULARIDADE,...,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,Várzea Grande,P. M. DE VARZEA GRANDE,MÁRCIO ANDRÉ MADEIRA DE VASCONCELOS,2011.0,ACORDÃO N°. 1.164/2014\n\nPROCESSO: TC- E N° 0...,"[{'page': 1, 'x0': 248, 'x1': 378, 'bottom': 1...",acordao,1164,2014.0
2,2015.0,2707/2015,2015-11-25 00:00:00,010297/2015,BARRAS,COORD. REGIONAL DE SAÚDE II,2013,ANA MARIA DE SOUSA,396.067.243-87,IRREGULARIDADE,...,ALISSON FELIPE DE ARAUJO,Barras,COORD. REG. SAUDE II - BARRAS,JOSE ARAUJO PINHEIRO JUNIOR,2013.0,ACÓRDÃO Nº. 2707/15\n\nEstado do Piauí II.Coor...,"[{'page': 1, 'x0': 276, 'x1': 370, 'bottom': 1...",acordao,2707,2015.0
3,2015.0,165/15,2015-02-03 00:00:00,8519/2013,CAMPO ALEGRE DO FIDALGO,FUNDEB,2011,LEÔNCIO JOÃO DA MATA,463.077.963-91,IRREGULARIDADE,...,OLAVO REBELO DE CARVALHO FILHO,Campo Alegre do Fidalgo,P. M. DE CAMPO ALEGRE DO FIDALGO,PLÍNIO VALENTE RAMOS NETO,2011.0,ACÓRDÃO Nº. 165/2015\n\n\nPrestação de Contas ...,"[{'page': 1, 'x0': 233, 'x1': 394, 'bottom': 1...",acordao,165,2015.0
4,2015.0,PARECER 14/15,2015-02-03 00:00:00,8519/2013,CAMPO ALEGRE DO FIDALGO,PREFEITURA,2011,ISRAEL ODÍLIO DA MATA,156.526.103-87,REPROVAÇÃO,...,OLAVO REBELO DE CARVALHO FILHO,Campo Alegre do Fidalgo,P. M. DE CAMPO ALEGRE DO FIDALGO,PLÍNIO VALENTE RAMOS NETO,2011.0,PARECER PRÉVIO Nº. 14/2015\n\n\n\nPrestação de...,"[{'page': 1, 'x0': 210, 'x1': 417, 'bottom': 1...",parecer,14,2015.0

In [23]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 0 to 518
Data columns (total 33 columns):
ANO_DO_JULGAMENTO              519 non-null float64
DECISAO                        519 non-null object
DATA_DO_JULGAMENTO             519 non-null object
PROCESSO                       519 non-null object
MUNICIPIO_ENTE                 510 non-null object
ORGAO                          518 non-null object
EXERCICIO                      519 non-null object
GESTOR                         519 non-null object
CPF                            518 non-null object
RESULTADO                      519 non-null object
DATA_DO_TRANSITO_EM_JULGADO    128 non-null object
DATA_DA_INCLUSAO_NA_LISTA      126 non-null object
COD_TCE                        519 non-null object
DECISAO_NUMERO                 519 non-null object
DECISAO_ANO                    519 non-null float64
cod_tce                        519 non-null object
assunto                        517 non-null object
tipo_processo                  519 non-null object
cod_ato                        519 non-null int64
ato                            519 non-null object
tipo_ato                       519 non-null object
peca                           519 non-null int64
caminho                        519 non-null object
conselheiro                    480 non-null object
municipio                      480 non-null object
ug                             480 non-null object
procurador                     480 non-null object
ano_exercicio                  480 non-null float64
texto                          519 non-null object
linhas                         519 non-null object
decisao_tipo                   519 non-null object
decisao_numero                 519 non-null object
decisao_ano                    519 non-null float64
dtypes: float64(4), int64(2), object(27)
memory usage: 137.9+ KB

In [24]:
df_merge[['DECISAO', 'COD_TCE', 'RESULTADO', 'cod_tce', 'peca', 'decisao_tipo', 'decisao_numero', 'decisao_ano', \
          'assunto', 'tipo_processo', 'tipo_ato', 'conselheiro', 'texto']]

,DECISAO,COD_TCE,RESULTADO,cod_tce,peca,decisao_tipo,decisao_numero,decisao_ano,assunto,tipo_processo,tipo_ato,conselheiro,texto
0,100/2014,013381/2013,REPROVAÇÃO,013381/2013,40,parecer,100,2014.0,"TOMADA DE CONTAS DE GESTÃO, EXERCÍCIO 2011",CONTAS - TOMADA DE CONTAS,ACÓRDÃO DE CÂMARA,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,PARECER PRÉVIO N°. 100/2014\n\n\nPROCESSO TC N...
1,1164/2014,013381/2013,IRREGULARIDADE,013381/2013,41,acordao,1164,2014.0,"TOMADA DE CONTAS DE GESTÃO, EXERCÍCIO 2011",CONTAS - TOMADA DE CONTAS,ACÓRDÃO DE CÂMARA,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,ACORDÃO N°. 1.164/2014\n\nPROCESSO: TC- E N° 0...
2,2707/2015,010297/2015,IRREGULARIDADE,010297/2015,27,acordao,2707,2015.0,TOMADA DE CONTAS - EXERCÍCIO 2013,CONTAS - TOMADA DE CONTAS,ACÓRDÃO DE CÂMARA,ALISSON FELIPE DE ARAUJO,ACÓRDÃO Nº. 2707/15\n\nEstado do Piauí II.Coor...
3,165/15,008519/2013,IRREGULARIDADE,008519/2013,30,acordao,165,2015.0,"PRESTAÇÃO DE CONTAS DE GESTÃO, EXERCÍCIO 2011 ...",CONTAS - CONTAS DE GESTÃO,ACÓRDÃO DE CÂMARA,OLAVO REBELO DE CARVALHO FILHO,ACÓRDÃO Nº. 165/2015\n\n\nPrestação de Contas ...
4,PARECER 14/15,008519/2013,REPROVAÇÃO,008519/2013,27,parecer,14,2015.0,"PRESTAÇÃO DE CONTAS DE GESTÃO, EXERCÍCIO 2011 ...",CONTAS - CONTAS DE GESTÃO,PARECER PRÉVIO,OLAVO REBELO DE CARVALHO FILHO,PARECER PRÉVIO Nº. 14/2015\n\n\n\nPrestação de...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
514,179/2020 (R.R),019012/2018,IRREGULARIDADE,019012/2018,25,acordao,179,2020.0,RECURSO DE RECONSIDERAÇAO REF. AO TC/002974/20...,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,ACÓRDÃO DO PLENO,NaN,ACÓRDÃO N.º 179/2020\nEMENTA. RECURSO DE RECON...
515,180/2020 (R.R),019014/2018,IRREGULARIDADE,019014/2018,25,acordao,180,2020.0,RECURSO DE RECONSIDERAÇAO REF. AO TC/002974/20...,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,ACÓRDÃO DO PLENO,NaN,ACÓRDÃO N.º 180/2020\nEMENTA. RECURSO DE RECON...
516,267/2020 (R.R),019016/2018,REPROVAÇÃO,019016/2018,29,acordao,267,2020.0,RECURSO DE RECONSIDERAÇAO REF. AO TC/002974/20...,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,ACÓRDÃO DO PLENO,NaN,ACÓRDÃO N.º 267/20\nEMENTA. RECURSO DE RECONSI...
517,181/2020 (R.R),019015/2018,IRREGULARIDADE,019015/2018,25,acordao,181,2020.0,RECURSO DE RECONSIDERAÇAO REF. AO TC/002974/20...,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,ACÓRDÃO DO PLENO,NaN,ACÓRDÃO N.º 181/2020\nEMENTA. RECURSO DE RECON...
518,331/2020 (R.R),021496/2019,IRREGULARIDADE,021496/2019,13,acordao,331,2020.0,RECURSO DE RECONSIDERAÇÃO REF. AO TC/005371/2015.,DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO,ACÓRDÃO DO PLENO,NaN,ACÓRDÃO N.º 331/2020\nEMENTA. RECURSO DE RECON...

In [25]:
df_merge[df_merge['cod_tce']=='013381/2013']

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,...,conselheiro,municipio,ug,procurador,ano_exercicio,texto,linhas,decisao_tipo,decisao_numero,decisao_ano
0,2014.0,100/2014,2014-09-17 00:00:00,TC/013381/2013,VÁRZEA GRANDE,PREFEITURA - GOVERNO,2011,LUÍS NUNES RIBEIRO FILHO,085.986.338-79,REPROVAÇÃO,...,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,Várzea Grande,P. M. DE VARZEA GRANDE,MÁRCIO ANDRÉ MADEIRA DE VASCONCELOS,2011.0,PARECER PRÉVIO N°. 100/2014\n\n\nPROCESSO TC N...,"[{'page': 1, 'x0': 206, 'x1': 421, 'bottom': 1...",parecer,100,2014.0
1,2014.0,1164/2014,2014-09-17 00:00:00,TC/013381/2013,VÁRZEA GRANDE,PREFEITURA GESTÃO,2011,LUÍS NUNES RIBEIRO FILHO,085.986.338-79,IRREGULARIDADE,...,LILIAN DE ALMEIDA VELOSO NUNES MARTINS,Várzea Grande,P. M. DE VARZEA GRANDE,MÁRCIO ANDRÉ MADEIRA DE VASCONCELOS,2011.0,ACORDÃO N°. 1.164/2014\n\nPROCESSO: TC- E N° 0...,"[{'page': 1, 'x0': 248, 'x1': 378, 'bottom': 1...",acordao,1164,2014.0

### Procurar itens da lista não encontrados nas decisões

#### Itens cujos processos não foram encontrados nas decisões

In [26]:
# Relacionados e não relacionados
df_tre_l = df_tre.merge(df_decisoes, how="left", \
                    left_on=['COD_TCE'], right_on=['cod_tce'])

In [27]:
# Filtra somente os não relacionados
df_tre_l = df_tre_l[df_tre_l['cod_tce'].isna()]
df_tre_l.shape

(1708, 33)

##### Dos processos não encontrados, buscar por decisões
Como não foram encontrados processos que possuam acordão ou parecer para esses itens, devo fazer busca
por dados da decisão para eles.
<p>
SUSPEITA: Pode haver registro na lista com número do processo digitado errado e, talvez, sejam encontrados em outros processos
    fazendo a busca somente por número e ano da decisão

In [28]:
# Somente relacionados por dados da decisão
df_tre_pne = df_tre_l.merge(df_decisoes, how="inner", \
                    left_on=['DECISAO_NUMERO', 'DECISAO_ANO'], \
                    right_on=['decisao_numero', 'decisao_ano'])

# Remover os que não tem número de decisão
df_tre_pne.dropna(axis=0, subset=['DECISAO_NUMERO'], inplace=True)
df_tre_pne.shape

(876, 51)

In [29]:
df_tre_pne.head(1)

,ANO_DO_JULGAMENTO,DECISAO,DATA_DO_JULGAMENTO,PROCESSO,MUNICIPIO_ENTE,ORGAO,EXERCICIO,GESTOR,CPF,RESULTADO,...,conselheiro_y,municipio_y,ug_y,procurador_y,ano_exercicio_y,texto_y,linhas_y,decisao_tipo_y,decisao_numero_y,decisao_ano_y
0,2012.0,1276/12,2012-05-16 00:00:00,TC-E 47934/10,Miguel Alves,Hospital,2008,Elias João de Sousa,NaN,IRREGULARIDADE,...,DELANO CARNEIRO DA CUNHA CAMARA,Pio IX,P. M. DE PIO IX,JOSÉ ARAÚJO PINHEIRO JÚNIOR,2011.0,ACÓRDÃO Nº. 1.276/2012\n\n\nPrestação de Conta...,"[{'page': 1, 'x0': 227, 'x1': 400, 'bottom': 1...",acordao,1276,2012.0

In [30]:
df_tre_pne.sort_values(['DECISAO_ANO', 'DECISAO_NUMERO'], ascending=False)\
    [['DECISAO', 'DECISAO_NUMERO', 'DECISAO_ANO', 'PROCESSO', 'COD_TCE', \
      'cod_tce_y', 'decisao_tipo_y', 'decisao_numero_y', 'decisao_ano_y', 'peca_y']]

,DECISAO,DECISAO_NUMERO,DECISAO_ANO,PROCESSO,COD_TCE,cod_tce_y,decisao_tipo_y,decisao_numero_y,decisao_ano_y,peca_y
1034,137/2020,137,2020.0,TC/010097/2020,010097/2020,010097/2017,acordao,137,2020.0,90
1030,966-A/2019 (R.R),966-A,2019.0,TC/023467/2018,023467/2018,023594/2018,acordao,966-A,2019.0,17
1031,P.P 089/2019,89,2019.0,TC/003074/2019,003074/2019,003074/2016,parecer,89,2019.0,44
1032,P.P 089/2019,89,2019.0,TC/003074/2019,003074/2019,006188/2015,acordao,89,2019.0,110
1033,1.858/2019,1858,2019.0,TC/006166/2019,006166/2019,006166/2017,acordao,1858,2019.0,20
...,...,...,...,...,...,...,...,...,...,...
173,169/13,169,2013.0,19.781/2011,019781/2011,19781/2011,parecer,169,2013.0,34
174,169/13,169,2013.0,19.781/2011,019781/2011,19781/2011,parecer,169,2013.0,32
10,1453/13,1453,2013.0,TC-E 13.406/11,013406/2011,13406/2011,acordao,1453,2013.0,20
11,1453/13,1453,2013.0,TC-E 13.406/11,013406/2011,13406/2011,acordao,1453,2013.0,22
0,1276/12,1276,2012.0,TC-E 47934/10,047934/2010,14205/2012,acordao,1276,2012.0,63

Verifiquei que muito protocolos do dataframe de decisões estão com o cod_tce fora do padrão. Exemplo '14205/2012'.<br>
Fiz a correção dos registros no banco de dados através do scipt 'corrigir cod_tce de protocolos da lista do TRE.sql'<p>
Vou precisar corrigir esse dataframe também. Em futuras importações não será mais necessário, uma vez que os registros já
    encontram-se corrigidos no banco de dados

In [31]:
# Corrigir cod_tce com formato inválido (diferente de ######/AAAA)
import os
import sys
sys.path.insert(0, os.path.abspath('../../src'))
sys.path.insert(0, os.path.abspath('../../src/preparation'))

from processa_acordao import extrai_cod_tce
#print(extrai_cod_tce(cod_tce))
def cod_tce_eh_valido(cod_tce):
    numero, _ = cod_tce.split('/')
    return len(numero) == 6

# Faz a correção
df_decisoes['cod_tce'] = df_decisoes['cod_tce'].apply(lambda x: x if cod_tce_eh_valido(x) else extrai_cod_tce(x))

Correção aparentemente funcionou. Fazer novamente o merge.<p>
Antes eram 519 registros relacionados, agora 784

In [33]:
df_merge = df_tre.merge(df_decisoes, \
                    left_on=['COD_TCE', 'DECISAO_NUMERO', 'DECISAO_ANO'], \
                    right_on=['cod_tce', 'decisao_numero', 'decisao_ano'])
df_merge.shape

(784, 33)

Buscar novamente os não encontrados nas decisões. Eram 1708

In [34]:
# Relacionados e não relacionados
df_tre_l = df_tre.merge(df_decisoes, how="left", \
                    left_on=['COD_TCE'], right_on=['cod_tce'])
# Filtra somente os não relacionados
df_tre_l = df_tre_l[df_tre_l['cod_tce'].isna()]
df_tre_l.shape

(1447, 33)

In [35]:
# Não relacionados ordenados (decrescente) por ano de julgamento
df_tre_l[df_tre_l['ANO_DO_JULGAMENTO'] >= 2015] \
    [['ANO_DO_JULGAMENTO', 'DECISAO', 'PROCESSO', 'COD_TCE']].sort_values('ANO_DO_JULGAMENTO', ascending=False)

      ANO_DO_JULGAMENTO           DECISAO        PROCESSO      COD_TCE
8464             2020.0          137/2020  TC/010097/2020  010097/2020
8095             2019.0        1.858/2019  TC/006166/2019  006166/2019
7947             2019.0      P.P 089/2019  TC/003074/2019  003074/2019
7852             2019.0  966-A/2019 (R.R)  TC/023467/2018  023467/2018
5542             2017.0          361/2017   TC/52815/2012  052815/2012
...                 ...               ...             ...          ...
3134             2015.0           1446/15        52918/12  052918/2012
3133             2015.0           1445/15        52918/12  052918/2012
3123             2015.0         2081/2015      52823/2012  052823/2012
3083             2015.0           2313/15  TC/052834/2012  052834/2012
2241             2015.0           1016/15      52876/2012  052876/2012

[374 rows x 4 columns]

In [36]:
# Somente relacionados por dados da decisão
df_tre_pne = df_tre_l.merge(df_decisoes, how="inner", \
                    left_on=['DECISAO_NUMERO', 'DECISAO_ANO'], \
                    right_on=['decisao_numero', 'decisao_ano'])

# Remover os que não tem número de decisão
df_tre_pne.dropna(axis=0, subset=['DECISAO_NUMERO'], inplace=True)
df_tre_pne.shape

(534, 51)

In [37]:
df_tre_pne.sort_values(['DECISAO_ANO', 'DECISAO_NUMERO'], ascending=False)\
    [['DECISAO', 'MUNICIPIO_ENTE', 'DECISAO_NUMERO', 'DECISAO_ANO', 'PROCESSO', 'COD_TCE', \
      'cod_tce_y', 'decisao_tipo_y', 'decisao_numero_y', 'decisao_ano_y', 'peca_y']]

,DECISAO,MUNICIPIO_ENTE,DECISAO_NUMERO,DECISAO_ANO,PROCESSO,COD_TCE,cod_tce_y,decisao_tipo_y,decisao_numero_y,decisao_ano_y,peca_y
639,137/2020,DIRCEU ARCOVERDE,137,2020.0,TC/010097/2020,010097/2020,010097/2017,acordao,137,2020.0,90
635,966-A/2019 (R.R),CAJUEIRO DA PRAIA,966-A,2019.0,TC/023467/2018,023467/2018,023594/2018,acordao,966-A,2019.0,17
636,P.P 089/2019,SÃO JOSÉ DO DIVINO,89,2019.0,TC/003074/2019,003074/2019,003074/2016,parecer,89,2019.0,44
637,P.P 089/2019,SÃO JOSÉ DO DIVINO,89,2019.0,TC/003074/2019,003074/2019,006188/2015,acordao,89,2019.0,110
638,1.858/2019,BREJO DO PIAUÍ,1858,2019.0,TC/006166/2019,006166/2019,006166/2017,acordao,1858,2019.0,20
...,...,...,...,...,...,...,...,...,...,...,...
112,PARECER 104/14,CURRAL NOVO DO PIAUÍ,104,2014.0,TCE 52866/2012,052866/2012,053015/2012,parecer,104,2014.0,35
113,PARECER 104/14,CURRAL NOVO DO PIAUÍ,104,2014.0,TCE 52866/2012,052866/2012,013473/2012,acordao,104,2014.0,35
107,169/13,CORONEL JOSÉ DIAS,169,2013.0,TC-E 20.243/11,020243/2011,019781/2011,parecer,169,2013.0,34
108,169/13,CORONEL JOSÉ DIAS,169,2013.0,TC-E 20.243/11,020243/2011,019781/2011,parecer,169,2013.0,32
0,1276/12,Miguel Alves,1276,2012.0,TC-E 47934/10,047934/2010,014205/2012,acordao,1276,2012.0,63

#### Salvar registros da planilha para os quais existem decisões com mesmos número e ano, mas protocolo diferente
Gerar arquivo com itens da planilha para os quais foram encontrados processos que possuem ato com mesmos número e ano de 
decisão, mas com código de protocolo diferente. <br>
Arquivo deve ser enviado à Secretaria das Sessões para correção da planilha

In [ ]:
# salvar lista para enviar para Marcus Vinicius
#!pip install openpyxl
caminho = Path("../../data/raw/lista_tre_inconsistências.xlsx")
df_tre_pne.sort_values(['DECISAO_ANO', 'DECISAO_NUMERO'], ascending=False)\
    [['DECISAO', 'MUNICIPIO_ENTE', 'DECISAO_NUMERO', 'DECISAO_ANO', 'PROCESSO', 'COD_TCE', \
      'cod_tce_y', 'decisao_tipo_y', 'decisao_numero_y', 'decisao_ano_y', 'peca_y']].to_excel(caminho, index=False)
#df_tre_pne.to_excel(caminho, index=False)

### Verificar consistência dos dados de resultados
Acórdão: decisão do colegiado (plenário ou câmara) sobre julgamento de contas de gestão. Resultados possíveis
deveriam ser:
* Aprovado
* Reprovado
<p>
Parecer prévio: decisão do colegiado sobre apreciação de contas de governo (que o TCE não julga). Resultados possíveis
deveriam ser:
* Regular
* Irregular

In [38]:
df_merge['RESULTADO'].value_counts()

IRREGULARIDADE    624
REPROVAÇÃO        160
Name: RESULTADO, dtype: int64

In [39]:
# Análise de resultados por tipo de ato
df_merge[['tipo_ato', 'RESULTADO', 'cod_tce']].groupby(['tipo_ato', 'RESULTADO']).count()

                                  cod_tce
tipo_ato          RESULTADO
ACÓRDÃO           IRREGULARIDADE      131
                  REPROVAÇÃO            4
ACÓRDÃO DE CÂMARA IRREGULARIDADE      456
                  REPROVAÇÃO           31
ACÓRDÃO DO PLENO  IRREGULARIDADE       36
                  REPROVAÇÃO            8
PARECER PRÉVIO    IRREGULARIDADE        1
                  REPROVAÇÃO          117

In [40]:
# Análise de resultados por tipo de decisão
df_merge[['decisao_tipo', 'RESULTADO', 'cod_tce']].groupby(['decisao_tipo', 'RESULTADO']).count()

                             cod_tce
decisao_tipo RESULTADO
acordao      IRREGULARIDADE      622
             REPROVAÇÃO           12
parecer      IRREGULARIDADE        2
             REPROVAÇÃO          148

In [41]:
# Análise de resultados por tipo de processo
df_merge[['tipo_processo', 'RESULTADO', 'cod_tce']].groupby(['tipo_processo', 'RESULTADO']).count()

                                                         cod_tce
tipo_processo                            RESULTADO
CONTAS - CONTAS DE GESTÃO                IRREGULARIDADE      546
                                         REPROVAÇÃO          143
CONTAS - TOMADA DE CONTAS                IRREGULARIDADE       19
                                         REPROVAÇÃO            7
CONTAS - TOMADA DE CONTAS ESPECIAL       IRREGULARIDADE       27
DA REVISÃO - PEDIDO DE REVISÃO           IRREGULARIDADE        4
DOS RECURSOS - RECURSO DE RECONSIDERAÇÃO IRREGULARIDADE       28
                                         REPROVAÇÃO           10